### LaTeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

### idea ###
.idea/
.ipynb_checkpoints/

### Windows ###
*.ini

### macOS ###
.DS_Store

### macOS ###
.history/
Archives